@font-face {
    font-family: Geist;
    src: url(../src/assets/fonts/Geist-VariableFont_wght.ttf);
}

@font-face {
    font-family: ZalandoSansExpanded;
    src: url(../src/assets/fonts/ZalandoSansExpanded-VariableFont_wght.ttf);
}

@import "tailwindcss";

@theme {
    --font-geist: Geist, "sans-serif";
    --font-zalando: ZalandoSansExpanded, "sans-serif"
}

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@keyframes blob {

    0%,
    100% {
        transform: translateY(0) scale(1);
    }

    33% {
        transform: translateY(-20px) scale(1.3);
    }

    66% {
        transform: translateY(20px) scale(0.8);
    }
}


.animate-blob {
    -webkit-animation: blob 7s infinite;
    animation: blob 7s infinite;
}

svg.recharts-surface {
    outline: 0;
}