@font-face {
    font-family: Geist;
    src: url(../src/assets/fonts/Geist-VariableFont_wght.ttf);
}


@import "tailwindcss";

@theme {
    --font-geist: Geist, "sans-serif"
}

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}